$red : hsl(0, 100%, 68%);
$veryDarkBlue: hsl(230, 29%, 20%);
$verygrayBlue: hsl(230, 11%, 40%);
$grayBlue: hsl(231, 7%, 65%);
$lightGrayBlue: hsl(207, 33%, 95%);

//FONTS
$condensed: 'Barlow Condensed', sans-serif;
$barlow: 'Barlow', sans-serif;;